{% extends "base.html" %}
{%block title%}
Home
{%endblock title%}
{%block body%}
<div class="container my-4" style="padding-left: 15px; padding-right: 15px;">
  <div id="carouselExample" class="carousel slide" style="margin: 0 auto; width: 80%; /* Adjust the width as needed */">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://t4.ftcdn.net/jpg/05/72/93/19/240_F_572931933_zM6Ts8mAzFQaifd0cmTeTthxnvEl5CpT.jpg"
             height="500"
             width="800"
             class="d-block w-100"
             alt="Ice Cream"
             style="object-fit: cover;">
        <div class="carousel-caption d-none d-md-block">
          <h5>The Ice that's sooooo Nice!!</h5>
          <p>You will love it!!</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://t4.ftcdn.net/jpg/05/72/28/07/240_F_572280726_EeQ0xbhohiA8eu0AnNFLNv5d9VppQMNZ.jpg"
             height="500"
             width="800"
             class="d-block w-100"
             alt="Ice Cream"
             style="object-fit: cover;">
        <div class="carousel-caption d-none d-md-block">
          <h5>Something good, Something cool</h5>
          <p>Tryyyy It!!</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlEGrN1J7KEnPAQXEC4C-UKO09wlfzBp1f8w&s"
             height="500"
             width="800"
             class="d-block w-100"
             alt="Ice Cream"
             style="object-fit: cover;">
        <div class="carousel-caption d-none d-md-block">
          <h5>Inaugurated by Tarulata on 13/07/2002</h5>
          <p>You will love it!!</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
 
 
 
<div class="album py-5 bg-body-tertiary text-align=center">
<center><h1 class-"my-5">Select from our range of ice creams</h1></center>
    <div class="container">
 
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://t3.ftcdn.net/jpg/07/71/33/86/240_F_771338629_FILYgOhtetdarA9BeVLPz68Dn46qFBZp.jpg" class="d-block w-100" alt="...">
 
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://t3.ftcdn.net/jpg/07/71/33/86/240_F_771338629_FILYgOhtetdarA9BeVLPz68Dn46qFBZp.jpg" class="d-block w-100" alt="...">
 
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://t3.ftcdn.net/jpg/07/71/33/86/240_F_771338629_FILYgOhtetdarA9BeVLPz68Dn46qFBZp.jpg" class="d-block w-100" alt="...">
 
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
 
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://t3.ftcdn.net/jpg/07/71/33/86/240_F_771338629_FILYgOhtetdarA9BeVLPz68Dn46qFBZp.jpg" class="d-block w-100" alt="...">
 
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://t3.ftcdn.net/jpg/07/71/33/86/240_F_771338629_FILYgOhtetdarA9BeVLPz68Dn46qFBZp.jpg" class="d-block w-100" alt="...">
 
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://t3.ftcdn.net/jpg/07/71/33/86/240_F_771338629_FILYgOhtetdarA9BeVLPz68Dn46qFBZp.jpg" class="d-block w-100" alt="...">
 
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
 
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://t3.ftcdn.net/jpg/07/71/33/86/240_F_771338629_FILYgOhtetdarA9BeVLPz68Dn46qFBZp.jpg" class="d-block w-100" alt="...">
 
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://t3.ftcdn.net/jpg/07/71/33/86/240_F_771338629_FILYgOhtetdarA9BeVLPz68Dn46qFBZp.jpg" class="d-block w-100" alt="...">
 
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://t3.ftcdn.net/jpg/07/71/33/86/240_F_771338629_FILYgOhtetdarA9BeVLPz68Dn46qFBZp.jpg" class="d-block w-100" alt="...">
 
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 
{%endblock body%}